﻿
@model  AdminPanel.Data.Model.ViewModel.LoginVM


@{ ViewBag.Title = "Login";
    Layout = ""; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminPanel | Oturum Aç</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Scripts/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Scripts/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Scripts/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Scripts/adminlte/plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b> Panel</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">

            @using (Html.BeginForm("Login", "Dashboard", FormMethod.Post, new { id = "FormLogin" }))
            {
                @Html.ValidationSummary(false)
            <div class="form-group has-feedback">

                @Html.LabelFor(m => m.UserName, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.UserName, new { @type = "text", @placeholder = "Kullanıcı Adı", @class = "form-control" })
                <span class="glyphicon glyphicon-pencil form-control-feedback"></span>

                @*<input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Password, new { @type = "password", @placeholder = "Şifre", @class = "form-control" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-xs-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş</button>
                                    </div>
                                    <!-- /.col -->
                                </div>}
            <br />
            <a href="#">Şifremi Unuttum</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
