﻿<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Dashboard", "Dashboard")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>P</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b> PANEL</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
           
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/adminlte/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">@(AdminPanel.Business.Helper.SessionHelper.User.FirstName + " " + AdminPanel.Business.Helper.SessionHelper.User.LastName)</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Content/adminlte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p>
                                @(AdminPanel.Business.Helper.SessionHelper.User.UserName+" - " +AdminPanel.Business.Helper.SessionHelper.User.FirstName + " "+ AdminPanel.Business.Helper.SessionHelper.User.LastName)
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Şifre Değiştir</a>
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Çıkış Yap", "Logout", "Dashboard", null, new  {@class= "btn btn-default btn-flat" })
                                @*<a href="#" class="btn btn-default btn-flat">Çıkış Yap</a>*@
                            </div>
                        </li>
                    </ul>
                </li>
            
            </ul>
        </div>
    </nav>
</header>
