﻿    <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="treeview @Html.IsSelected(controller: "Category")">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Kategori</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller:"Category",action: "List")"><a href="@Url.Action("List", "Category")"><i class="fa fa-circle-o"></i> Kategoriler</a></li>
                </ul>
            </li>
            <li class="treeview @Html.IsSelected(controller: "Product")">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Ürün</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller:"Product",action: "List")"><a href="@Url.Action("List", "Product")"><i class="fa fa-circle-o"></i> Ürün</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
